DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DBNAME=system_handbook_db
DATABASE_SSLMODE=disable

GRPC_PORT=50053
APP_ENV=development
JWT_SECRET=change-me-in-production
